# Ex2 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset with name 'wc2018-players'

In [3]:
wc18 = pd.read_csv('wc2018-players.csv')

### Step 3. Assign it to a variable called wc18.

In [5]:
wc18.head()

,Team,#,Pos.,FIFA Popular Name,Birth Date,Shirt Name,Club,Height,Weight
0,Argentina,3,DF,TAGLIAFICO Nicolas,31.08.1992,TAGLIAFICO,AFC Ajax (NED),169,65
1,Argentina,22,MF,PAVON Cristian,21.01.1996,PAVÓN,CA Boca Juniors (ARG),169,65
2,Argentina,15,MF,LANZINI Manuel,15.02.1993,LANZINI,West Ham United FC (ENG),167,66
3,Argentina,18,DF,SALVIO Eduardo,13.07.1990,SALVIO,SL Benfica (POR),167,69
4,Argentina,10,FW,MESSI Lionel,24.06.1987,MESSI,FC Barcelona (ESP),170,72

### Step 4. Select only the Height column.

In [4]:
wc18['Height']

0      169
1      169
2      167
3      167
4      170
5      181
6      175
7      175
8      174
9      177
10     172
11     184
12     178
13     177
14     180
15     172
16     186
17     181
18     181
19     189
20     199
21     189
22     192
23     170
24     180
25     169
26     179
27     173
28     178
29     176
      ...
706    182
707    187
708    189
709    186
710    182
711    192
712    189
713    171
714    168
715    172
716    178
717    172
718    173
719    185
720    187
721    173
722    190
723    171
724    185
725    178
726    185
727    186
728    188
729    178
730    184
731    189
732    187
733    182
734    186
735    196
Name: Height, Length: 736, dtype: int64

### Step 5. How many players participated in the World Cup 2018?

In [7]:
wc18['Team'].count()

736

### Step 6. What is the number of columns in the dataset?

In [26]:
print(len(wc18.columns))
wc18.info()

9
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 736 entries, 0 to 735
Data columns (total 9 columns):
Team                 736 non-null object
#                    736 non-null int64
Pos.                 736 non-null object
FIFA Popular Name    736 non-null object
Birth Date           736 non-null object
Shirt Name           736 non-null object
Club                 736 non-null object
Height               736 non-null int64
Weight               736 non-null int64
dtypes: int64(3), object(6)
memory usage: 51.8+ KB

### Step 7. View only the columns Club and Team assign them to a dataframe called discipline

In [11]:
discipline = wc18[['Club', 'Team']]
discipline.head()

                       Club       Team
0            AFC Ajax (NED)  Argentina
1     CA Boca Juniors (ARG)  Argentina
2  West Ham United FC (ENG)  Argentina
3          SL Benfica (POR)  Argentina
4        FC Barcelona (ESP)  Argentina

### Step 8. Sort the teams by Club, then to Team

In [12]:
wc18.sort_values(by = ['Club', 'Team'])

,Team,#,Pos.,FIFA Popular Name,Birth Date,Shirt Name,Club,Height,Weight
258,Germany,3,DF,HECTOR Jonas,27.05.1990,HECTOR,1. FC Köln (GER),185,75
330,Japan,15,FW,OSAKO Yuya,18.05.1990,OSAKO,1. FC Köln (GER),182,71
108,Colombia,12,GK,VARGAS Camilo,09.03.1989,C. VARGAS,AC Deportivo Cali (COL),185,80
113,Colombia,8,MF,AGUILAR Abel,06.01.1985,AGUILAR T.,AC Deportivo Cali (COL),185,82
6,Argentina,5,MF,BIGLIA Lucas,30.01.1986,BIGLIA,AC Milan (ITA),175,73
111,Colombia,2,DF,ZAPATA Cristian,30.09.1986,C. ZAPATA,AC Milan (ITA),187,82
152,Croatia,16,FW,KALINIC Nikola,05.01.1988,N. KALINIĆ,AC Milan (ITA),187,81
519,Portugal,9,FW,ANDRE SILVA,06.11.1995,ANDRÉ SILVA,AC Milan (ITA),184,78
679,Switzerland,13,DF,RODRIGUEZ Ricardo,25.08.1992,RODRIGUEZ,AC Milan (ITA),180,79
143,Croatia,19,MF,BADELJ Milan,25.02.1989,BADELJ,ACF Fiorentina (ITA),186,76
618,Serbia,15,DF,MILENKOVIC Nikola,12.10.1997,MILENKOVIĆ,ACF Fiorentina (ITA),195,90
418,Nigeria,21,DF,EBUEHI Tyronne,16.12.1995,EBUEHI,ADO Den Haag (NED),187,74
309,IR Iran,7,MF,SHOJAEI Masoud,09.06.1984,SHOJAEI M.,AEK Athens (GRE),187,79
0,Argentina,3,DF,TAGLIAFICO Nicolas,31.08.1992,TAGLIAFICO,AFC Ajax (NED),169,65
168,Denmark,19,MF,SCHONE Lasse,27.05.1986,SCHÖNE,AFC Ajax (NED),178,80
175,Denmark,12,FW,DOLBERG Kasper,06.10.1997,DOLBERG,AFC Ajax (NED),187,85
396,Morocco,7,MF,ZIYACH Hakim,19.03.1993,ZIYACH,AFC Ajax (NED),180,70
50,Belgium,17,MF,TIELEMANS Youri,07.05.1997,TIELEMANS,AS Monaco (FRA),176,72
97,Colombia,9,FW,FALCAO Radamel,10.02.1986,FALCAO,AS Monaco (FRA),177,72
157,Croatia,23,GK,SUBASIC Danijel,27.10.1984,SUBAŠIĆ,AS Monaco (FRA),191,84
230,France,8,FW,LEMAR Thomas,12.11.1995,LEMAR,AS Monaco (FRA),172,65
242,France,19,DF,SIDIBE Djibril,29.07.1992,SIDIBE,AS Monaco (FRA),184,81
499,Poland,15,DF,GLIK Kamil,03.02.1988,GLIK,AS Monaco (FRA),190,80
506,Portugal,8,MF,JOAO MOUTINHO,08.09.1986,J. MOUTINHO,AS Monaco (FRA),170,61
586,Senegal,20,FW,BALDE Keita,08.03.1995,KEÏTA BALDE,AS Monaco (FRA),181,77
20,Argentina,6,DF,FAZIO Federico,17.03.1987,FAZIO,AS Roma (ITA),199,85
90,Brazil,1,GK,ALISSON,02.10.1992,A. BECKER,AS Roma (ITA),193,91
613,Serbia,11,DF,KOLAROV Aleksandar,10.11.1985,KOLAROV,AS Roma (ITA),187,83
306,IR Iran,18,FW,JAHANBAKHSH Alireza,11.08.1993,A. JAHANBAKHSH,AZ Alkmaar (NED),180,77
468,Peru,20,FW,FLORES Edison,14.05.1994,FLORES,Aalborg BK (DEN),170,72
...,...,...,...,...,...,...,...,...,...
681,Switzerland,1,GK,SOMMER Yann,17.12.1988,SOMMER,VfL Borussia Mönchengladbach (GER),183,81
64,Belgium,13,GK,CASTEELS Koen,25.06.1992,CASTEELS,VfL Wolfsburg (GER),197,86
486,Poland,16,MF,BLASZCZYKOWSKI Jakub,14.12.1985,BLASZCZYKOWSKI,VfL Wolfsburg (GER),175,71
104,Colombia,7,FW,BACCA Carlos,08.09.1986,BACCA,Villarreal CF (ESP),181,77
530,Russia,6,MF,CHERYSHEV Denis,26.12.1990,CHERYSHEV,Villarreal CF (ESP),173,68
561,Saudi Arabia,18,MF,SALEM ALDAWSARI,19.08.1991,SALEM,Villarreal CF (ESP),174,68
600,Serbia,2,DF,RUKAVINA Antonio,26.01.1984,RUKAVINA,Villarreal CF (ESP),177,71
363,Korea Republic,15,MF,JUNG Wooyoung,14.12.1989,W Y JUNG,Vissel Kobe (JPN),186,78
365,Korea Republic,1,GK,KIM Seunggyu,30.09.1990,S G KIM,Vissel Kobe (JPN),187,80
460,Peru,7,MF,HURTADO Paolo,27.07.1990,HURTADO,Vitoria Guimaraes (POR),174,66
25,Australia,19,DF,RISDON Joshua,27.07.1992,RISDON,WS Wanderers FC (AUS),169,70
473,Peru,18,FW,CARRILLO Andre,14.06.1991,CARRILLO,Watford FC (ENG),182,77
62,Belgium,22,MF,CHADLI Nacer,02.08.1989,CHADLI,West Bromwich Albion FC (ENG),187,85
203,Egypt,2,DF,ALI GABR,01.01.1989,ALI GABR,West Bromwich Albion FC (ENG),191,88
206,Egypt,6,DF,AHMED HEGAZY,25.01.1991,A. HEGAZY,West Bromwich Albion FC (ENG),194,95
502,Poland,10,MF,KRYCHOWIAK Grzegorz,29.01.1990,KRYCHOWIAK,West Bromwich Albion FC (ENG),186,83
2,Argentina,15,MF,LANZINI Manuel,15.02.1993,LANZINI,West Ham United FC (ENG),167,66
375,Mexico,14,FW,HERNANDEZ Javier,01.06.1988,J. HERNÁNDEZ,West Ham United FC (ENG),175,71
517,Portugal,10,MF,JOAO MARIO,19.01.1993,J. MÁRIO,West Ham United FC (ENG),179,73
585,Senegal,8,MF,KOUYATE Cheikhou,21.12.1989,C. KOUYATE,West Ham United FC (ENG),189,75
191,Egypt,5,MF,SAM MORSY,10.09.1991,MORSY,Wigan Athletic FC (ENG),173,75
403,Morocco,6,DF,SAISS Romain,26.03.1990,SAISS,Wolverhampton Wanderers FC (ENG),190,76
590,Senegal,13,MF,NDIAYE Alfred,06.03.1990,A. NDIAYE,Wolverhampton Wanderers FC (ENG),186,80
409,Morocco,13,FW,BOUTAIB Khalid,24.04.1987,BOUTAIB,Yeni Malatyaspor (TUR),190,80
41,Australia,2,DF,DEGENEK Milos,28.04.1994,DEGENEK,Yokohama F-Marinos (JPN),187,85
184,Egypt,8,MF,TAREK HAMED,24.10.1988,TAREK HAMED,Zamalek (EGY),169,67
188,Egypt,15,DF,MAHMOUD HAMDY,01.06.1995,M. HAMDY,Zamalek (EGY),173,72
703,Tunisia,21,DF,NAGUEZ Hamdi,28.10.1992,NAGUEZ,Zamalek (EGY),186,75
320,IR Iran,12,GK,MAZAHERI Rashid,18.05.1989,RASHID,Zob Ahan Isfahan FC (IRN),192,84
707,Tunisia,6,DF,BEDOUI Rami,19.01.1990,BEDOUI,Étoile du Sahel (TUN),187,77

### Step 9. Calculate the mean weight

In [13]:
wc18.Weight.mean()

77.18885869565217

### Step 10. Filter Players, those height is over 195

In [14]:
wc18[wc18['Height'] > 195]

,Team,#,Pos.,FIFA Popular Name,Birth Date,Shirt Name,Club,Height,Weight
20,Argentina,6,DF,FAZIO Federico,17.03.1987,FAZIO,AS Roma (ITA),199,85
64,Belgium,13,GK,CASTEELS Koen,25.06.1992,CASTEELS,VfL Wolfsburg (GER),197,86
67,Belgium,1,GK,COURTOIS Thibaut,11.05.1992,COURTOIS,Chelsea FC (ENG),199,91
137,Costa Rica,19,DF,WASTON Kendall,01.01.1988,K. WASTON,Vancouver Whitecaps FC (CAN),196,87
160,Croatia,12,GK,KALINIC Lovre,03.04.1990,L. KALINIĆ,KAA Gent (BEL),201,96
183,Denmark,3,DF,VESTERGAARD Jannik,03.08.1992,VESTERGAARD,VfL Borussia Mönchengladbach (GER),200,98
227,England,13,GK,BUTLAND Jack,10.03.1993,BUTLAND,Stoke City FC (ENG),196,96
248,France,15,MF,NZONZI Steven,15.12.1988,NZONZI,Sevilla FC (ESP),197,87
298,Iceland,12,GK,SCHRAM Frederik,19.01.1995,SCHRAM,Roskilde BK (DEN),198,92
367,Korea Republic,9,FW,KIM Shinwook,14.04.1988,S W KIM,Jeonbuk Hyundai (KOR),197,97
433,Nigeria,13,FW,NWANKWO Simeon,07.05.1992,NWANKWO,FC Crotone (ITA),197,89
435,Nigeria,23,GK,UZOHO Francis,28.10.1998,UZOHO,Deportivo La Coruña (ESP),196,91
454,Panama,22,GK,RODRIGUEZ Alex,05.08.1990,RODRIGUEZ,San Francisco FC (PAN),197,83
551,Russia,22,FW,DZYUBA Artem,22.08.1988,DZYUBA,FC Arsenal Tula (RUS),196,90
592,Senegal,23,GK,GOMIS Alfred,05.09.1993,GOMIS,SPAL Ferrara (ITA),196,80
594,Senegal,6,MF,SANE Salif,25.08.1990,S. SANE,Hannover 96 (GER),196,84
665,Sweden,1,GK,OLSEN Robin,08.01.1990,OLSEN,FC Kobenhavn (DEN),198,89
735,Uruguay,19,DF,COATES Sebastian,07.10.1990,COATES,Sporting CP (POR),196,89

### Step 11. Select the teams from 555 row to 566

In [23]:
wc18.iloc[555:566]

,Team,#,Pos.,FIFA Popular Name,Birth Date,Shirt Name,Club,Height,Weight
555,Saudi Arabia,13,DF,YASIR ALSHAHRANI,25.05.1992,YASIR,Al Hilal SFC (KSA),170,63
556,Saudi Arabia,19,FW,FAHAD ALMUWALLAD,14.09.1994,FAHAD,Levante UD (ESP),168,65
557,Saudi Arabia,9,MF,HATAN BAHBIR,16.07.1992,HATAN,Al Shabab FC (KSA),170,66
558,Saudi Arabia,14,MF,ABDULLAH OTAYF,03.08.1992,OTAYF,Al Hilal SFC (KSA),177,66
559,Saudi Arabia,15,MF,ABDULLAH ALKHAIBARI,16.08.1996,ALKHAIBARI,Al Shabab FC (KSA),175,66
560,Saudi Arabia,2,DF,MANSOUR ALHARBI,19.10.1987,MANSOUR,Al Ahli SC (KSA),173,68
561,Saudi Arabia,18,MF,SALEM ALDAWSARI,19.08.1991,SALEM,Villarreal CF (ESP),174,68
562,Saudi Arabia,17,MF,TAISEER ALJASSAM,25.07.1984,TAISEER,Al Ahli SC (KSA),169,69
563,Saudi Arabia,11,MF,ABDULMALEK ALKHAIBRI,13.03.1986,ABDULMALEK,Al Hilal SFC (KSA),177,73
564,Saudi Arabia,12,MF,MOHAMED KANNO,22.09.1994,KANNO,Al Hilal SFC (KSA),192,73
565,Saudi Arabia,10,FW,MOHAMMED ALSAHLAWI,10.01.1987,ALSAHLAWI,Al Nassr FC (KSA),179,75

### Step 12. Select the first 2 columns

In [24]:
wc18[wc18.columns[0:2]]

          Team   #
0    Argentina   3
1    Argentina  22
2    Argentina  15
3    Argentina  18
4    Argentina  10
5    Argentina   4
6    Argentina   5
7    Argentina   7
8    Argentina  14
9    Argentina  21
10   Argentina  19
11   Argentina   9
12   Argentina  11
13   Argentina  20
14   Argentina  13
15   Argentina   8
16   Argentina  23
17   Argentina   2
18   Argentina  17
19   Argentina  16
20   Argentina   6
21   Argentina  12
22   Argentina   1
23   Australia  16
24   Australia  10
25   Australia  19
26   Australia   3
27   Australia  13
28   Australia  14
29   Australia  21
..         ...  ..
706    Tunisia  10
707    Tunisia   6
708    Tunisia   8
709    Tunisia  13
710    Tunisia  16
711    Tunisia   1
712    Tunisia   2
713    Uruguay   8
714    Uruguay  14
715    Uruguay  10
716    Uruguay  17
717    Uruguay  20
718    Uruguay   4
719    Uruguay   3
720    Uruguay   6
721    Uruguay  16
722    Uruguay   1
723    Uruguay   5
724    Uruguay  13
725    Uruguay  22
726    Uruguay   2
727    Uruguay  11
728    Uruguay  21
729    Uruguay   7
730    Uruguay  12
731    Uruguay  15
732    Uruguay  23
733    Uruguay   9
734    Uruguay  18
735    Uruguay  19

[736 rows x 2 columns]